<div class="content">

{{#each posts}}

  <div class="card">
    <div class="cardTitle">
      {{title}}
    </div>
    <div class="cardDesc">
      {{description}}
    </div>

    <div class="special">
      <span>{{release_year}}</span>
      <span>{{rental_rate}}</span>
    </div>
  </div>

{{/each}}




</div>